
body {
    color: whitesmoke;
    margin: 0;
}

main {
    float: left;
    width: 100%;
}

.image-background {
    height: 100vh;
    min-height: 500px;
    background-image: url("../bg_image.jpg");
    margin-left: auto;
    margin-right: auto;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
