
#navigationBar {
    position: sticky;
    top: 0;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

#navigationBar li {     /* selectes all 'li' descendants of #navigationBar */
    float: left;
    border-right: 1px solid #bbb;
}

#navigationBar li:last-child {     /* selects a special state */
  border-right: none;                /* exclude last element border */
}

#navigationBar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
#navigationBar li a:hover {
  background-color: #111;
}


/* classes = properties containers */

.active {
  background-color: #4CAF50;
}

.large {
    font-size: large;
}


/* 3 unequal columns */

.column {
  float: left;
}

/* Left and right column */
.column.side {
  width: 25%;
}

/* Middle column */
.column.middle {
  width: 50%;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column.side, .column.middle {
    width: 100%;
  }
}
